
<div class="container text-left">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Qualifications</h2>
    </div>
    <% @qualifications.each do |qual| %>
      <div class="col-md-8 col-md-offset-2">
        <ul style="list-style-type: circle">
          <li style="font-family: Helvetica"><%= qual.description %>
            <div class="btn-group btn-group-xs" role="group" aria-label="...">
              <%= link_to ' Edit', edit_qualification_path(qual), class: "btn btn-success fa fa-pencil-square-o" %>
              <%= link_to ' Delete', qual, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash" %>
            </div></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to ' New Qualification', new_qualification_path, class: "btn btn-default fa fa-plus-square-o fa-lg" %>