<h1>Resume Dashboard</h1>

<%= render partial: 'educations/list', locals: {educations: @educations} %>
<%= render partial: 'experiences/list', locals: {experiences: @experiences} %>
<%= render partial: 'activities/list', locals: {activities: @activities} %>
<%= render partial: 'qualifications/list', locals: {qualifications: @qualifications} %>