<h1>Resume Dashboard</h1>

<p><%= link_to "Work Experience", experiences_path %></p>
<p><%= link_to "Education", educations_path %></p>
<p><%= link_to "Activities and Projects", activities_path %></p>
<p><%= link_to "Qualifications", qualifications_path %></p>